
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdminStudent.cshtml";
}

<div class="content_pri">
    <div class="content_news">
        <div class="content_news--info">
            <h1>Welcome to Herry Academic Portal</h1>
            <ul class="news_list">
                <list class="list-item">
                    <i class="fa-regular fa-newspaper"></i>
                    <div>
                        <span class="time">11/03/24 15:47</span>
                        <h3>[EXAMINATION] ANNOUNCEMENT OF PROGRESSTEST SCHEDULE 1 ENGLISH SUBJECT PART 2 SPRING 2024</h3>
                    </div>

                </list>
                <list class="list-item">
                    <i class="fa-regular fa-newspaper"></i>
                    <div>
                        <span class="time">01/03/24 14:13</span>
                        <h3>
                            [TC&QLDT] ANNOUNCEMENT ABOUT COURSE SCHEDULE PART 2- SPRING 2024
                        </h3>
                    </div>

                </list>
                <list class="list-item">
                    <i class="fa-regular fa-newspaper"></i>
                    <div>
                        <span class="time">21/02/24 16:41</span>
                        <h3>
                            [EXAMINATION] ANNOUNCEMENT OF FINAL EXAM PLAN PART 1 SPRING 2024 ENGLISH CLASSES
                        </h3>
                    </div>

                </list>
                <list class="list-item">
                    <i class="fa-regular fa-newspaper"></i>
                    <div>
                        <span class="time">15/01/24 15:32</span>
                        <h3>
                            Tuition and fees table at Herry British College - Da Nang campus (According to Decision No. 08/QD-CTCPGDFPT signed on January 12, 2024)
                        </h3>
                    </div>

                </list>
            </ul>
            <button class="news--more">
                More
            </button>
        </div>
        <div class="content_news--banner">
            <img src="~/Image/pic1.svg" alt="">
        </div>
    </div>
    <div class="card--private">
        <div class="car-item">
            <div><img src="~/Image/card_b1.svg" alt=""></div>
            <h6>News</h6>
        </div>
        <div class="car-item">
            <div><img src="~/Image/btec_card_b2.svg" alt=""></div>
            <h6>Q&A</h6>
        </div>
        <div class="car-item">
            <div><img src="~/Image/btec_card_b3.svg" alt=""></div>
            <h6>Application</h6>
        </div>
    </div>

</div>
<div class="motivation">
    <div class="motivation--banner">
        <img src="~/Image/pic2.svg" alt="">
    </div>
    <div class="motivation--content">
        <h1>
            “However difficult life may seem, there is <span>always something you can do</span> and succeed at.”
        </h1>
        <h3>STEVEN HAWKING</h3>
    </div>
</div>
<div class="contact">
    <h3>
        For more information or any queries, please contact: Herry Polytechnic International in Hanoi
    </h3>
    <div class="contact_item">
        <div>
            <i class="fa-solid fa-location-dot"></i>
            <h3>Address: No. 66 Vo Van Tan, Thanh Khe District, Da Nang.</h3>
        </div>
    </div>
    <div class="contact_item">
        <div>
            <i class="fa-solid fa-envelope"></i>
            <h3>Email: </h3>
        </div>
        <ul>
            <li>Academic Department: <a href="">Academic.herry.dn@fe.edu.vn</a> </li>
            <li>SRO Department: <a href="">sro.herry.dn@fe.edu.vn</a> </li>
            <li>Finace Department: <a href="">accounting.herry.dn@fe.edu.vn</a> </li>
        </ul>
    </div>
    <div class="contact_item">
        <div>
            <i class="fa-solid fa-phone"></i>
            <h3>Hotline: 0564 057 889</h3>
        </div>
    </div>
</div>

